@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/primereact.min.css";

.bgPrimary {
  background-color: #f7f3ed;
}

.pa {
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
